*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}